
#online-editor
  width: 100%;

.header-sidebar
  display flex
  align-items center
  justify-content center
  flex-direction column
  width 100%
  h4
    display flex
    align-items center
    justify-content center
    width 100%
    > button
      margin-left 10px
      
.footer-sidebar
  display flex
  align-items center
  justify-content space-between
  width 100%
  > button
      border 0px solid rgba(0,0,0,0) !important
      border-left 1px solid rgba(0,0,0,.07) !important
      border-radius 0px !important

.vs-sidebar--background{

  background: none !important;
}

#preview
  background: #202020

#editor
  border-left 1px solid #999
  width:100%

#data_list
  padding-top:50px

.con-vs-slider
  min-width:150px

.con-vs-card
  width:200px;

#thumbnail
  padding:30px;

.con-vs-chip
  float:none;

#data_list
  padding:30px
  min-width:300px

#data_list_container
  border-right 1px solid #666

.vs-checkbox-default
  justify-content: left

.card_container active
  border 2px solid #933

.tool_button
  margin: 5px

.vs-con-textarea textarea
  color:white !important

textarea
  color:white !important